body {
 margin: 0; 
 font-family: Trebuchet MS;
}

head {
  font-family: Trebuchet MS;
}

canvas {
  border: 1px solid black; 
}

button  {
  display: inline-block;
  padding: 4px;
  background-color: inherit;
  color: black;
  border: 1px solid black;
  outline: none;
  text-decoration: none;
}

button:hover {
  background-color: gray;
  color: white;
  border: 1px solid gray;
}

#menuknoppen {
  height: 4%;
  width : 100%;
  background-color: gray;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
}

 
#RandomArtSection{
  height: 32%;
  width : 60%;
  z-index: 0;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 4%;
  left: 0;
  background-image: url("images/RandomArtSectionBackground.png");
  transition: width 0.2s;
  -webkit-transition: width 0.2s; 
}

#RandomArtSection:hover {
  position: fixed;
  z-index: 1;
  width: 75%; 
}

#SocialMediaSection{
  height: 32%;
  width : 60%;
  z-index: 0;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 36%;
  left: 0; 
  background-image: url("images/social-media-1.png");
  transition: width 0.2s;
  -webkit-transition: width 0.2s;
}

#SocialMediaSection:hover {
  position: fixed;
  z-index: 1;
  width: 75%; 
}

#NoiseSection{
  height: 32%;
  width : 60%;
  z-index: 0;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 68%;
  left: 0; 
  background-image: url("images/example.png");
  transition: width 0.2s;
  -webkit-transition: width 0.2s;
}

#NoiseSection:hover {
  position: fixed;
  z-index: 1;
  width: 75%; 
}

#HomePageAnimationSection{
  height: 96%;
  width : 40%;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 4%;
  left: 60%;
  z-index: 0;
}  

.navbar {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.dropdown {
  float: left;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.dropdown .dropbtn {
  font-size: calc(1vw + 1vh - 1vmin);
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: Andale Mono;
  margin: 0;
  height: 96%;
  position: relative;
  text-align: center;
  width: 100px;
}

.menuknoppen a:hover, .dropdown:hover .dropbtn {
  background-color: darkgray;
  position: relative;
}

.dropdown-content {
  display: none;
  position: relative;
  position: relative;
  z-index: 2;
}

.dropdown-content a {
  position: relative;
  font-family: monospace, monospace;
  color: black;
  padding: 8px 0px;
  text-decoration: none;
  display: block;
  background-color: #F5F5F5;
  text-align: center; 
}

.dropdown-content a:hover {
  background-color: #ddd;
  position: relative;
}

.dropdown:hover .dropdown-content {
  display: block;
  position: relative;
}

#hub {
  position: fixed;
  font-size: calc(1vw + 1vh - 1vmin);
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: Andale Mono; 
  line-height: 175%;
  margin: auto;
  left: 50%; 
  margin-left: -50px;
}

#hubDIV {
  margin: auto;
  position: fixed;
  background-color: inherit;
  height: 4%;
  width: 100px;
  top: 0%;
  left: 50%; 
  margin-left: -50px;
}

#hubDIV:hover {
  background-color: darkgray;
  text-align: center; 
}


#login {
  float: right;
  font-size: calc(1vw + 1vh - 1vmin);
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: Andale Mono; 
  position: relative;
  line-height: 175%;
}

#loginDIV {
  background-color: inherit;
  height: 100%;
  width: 100px;
  float: right;
}

#loginDIV:hover {
  background-color: darkgray;
  text-align: center; 
}


#register {
  float: right;
  font-size: calc(1vw + 1vh - 1vmin);
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: Andale Mono; 
  position: relative;
  line-height: 175%;
}

#registerDIV {
  background-color: inherit;
  height: 100%;
  width: 100px;
  float: right;
}

#registerDIV:hover {
  background-color: darkgray;
  text-align: center; 
}
#account {
  float: right;
  font-size: calc(1vw + 1vh - 1vmin);
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: Andale Mono; 
  position: relative;
  line-height: 175%;
}

#accountDIV {
  background-color: inherit;
  height: 100%;
  width: 100px;
  float: right;
}

#accountDIV:hover {
  background-color: darkgray;
  text-align: center; 
}

#viewOwnArt {
  float: left;
  font-size: calc(1vw + 1vh - 1vmin);
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: Andale Mono; 
  position: relative;
  line-height: 175%;
}

#viewOwnArtDIV {
  background-color: inherit;
  height: 100%;
  width: 150px;
  float: left;
}

#viewOwnArtDIV:hover {
  background-color: darkgray;
  text-align: center; 
}

#viewOthersArt {
  float: left;
  font-size: calc(1vw + 1vh - 1vmin);
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: Andale Mono; 
  position: relative;
  line-height: 175%;
}

#viewOthersArtDIV {
  background-color: inherit;
  height: 100%;
  width: 150px;
  float: left;
}

#viewOthersArtDIV:hover {
  background-color: darkgray;
  text-align: center; 
}

#button  {
  display: inline-block;
  padding: 4px;
  background-color: inherit;
  color: black;
  border: 1px solid black;
  outline: none;
  text-decoration: none;
}

#button:hover {
  background-color: gray;
  color: white;
  border: 1px solid gray;
}

.postSectionDIV {
  border: 2px solid black;  
  margin: 10%;
}

.infoDIV {
  border: 1px solid black; 
  padding: 2px; margin: 2px; 
  margin-top: 2px; 
}

.commentDIV {
  border: 1px solid black; 
  padding: 2px; margin: 2px; 
  margin-top: 2px; 
}

#navbar {

}

#LoginButton {
  display: inline-block;
  padding: 4px;
  background-color: inherit;
  color: black;
  border: 1px solid black;
  outline: none;
  text-decoration: none;
}

#LoginButton:hover {
  background-color: gray;
  color: white;
  border: 1px solid gray;
}


#LogoutButton {
  display: inline-block;
  padding: 4px;
  background-color: inherit;
  color: black;
  border: 1px solid black;
  outline: none;
  text-decoration: none;
}

#LogoutButton:hover {
  background-color: gray;
  color: white;
  border: 1px solid gray;
}

#SubmitRegister {
  display: inline-block;
  padding: 4px;
  background-color: inherit;
  color: black;
  border: 1px solid black;
  outline: none;
  text-decoration: none;
}

#SubmitRegister:hover {
  background-color: gray;
  color: white;
  border: 1px solid gray;
}

#SubmitLogin {
  display: inline-block;
  padding: 4px;
  background-color: inherit;
  color: black;
  border: 1px solid black;
  outline: none;
  text-decoration: none;
}

#SubmitLogin:hover {
  background-color: gray;
  color: white;
  border: 1px solid gray;
}